<mat-form-field appearance="outline">
  <mat-label>Wyszukaj miejscowość</mat-label>
  <input
    type="text"
    [formControl]="control"
    matInput
    [matAutocomplete]="auto"
  >
  <mat-icon matSuffix>
    search
  </mat-icon>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelect($event)"
  >
    <mat-option
      *ngFor="let option of options$ | async"
      [value]="option?.LocalizedName"
    >
      {{option?.LocalizedName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>