:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.content {
  width: auto;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  display: flex;
}

.title,
.subtitle {
  text-align: center;
}